:where(pre) {
    all: revert;
}

:root {
    --shadow-color: 49deg 36% 46%;
    --img-width: 720px;
    --bg-color: #FBF1C7;
    --text-color: #3C3836;
    --important-text-color: #3C3836;
    --accent-color: #8F3F71;
    --hover-color: #B17286;
    --code-bg: #7C6F64;
    --pre-bg: #282828;
    --border-color: #D5C4A1;
}

.dark-theme {
    --bg-color: #282828;
    --text-color: #EBDBB2;
    --important-text-color: #282828;
    --accent-color: #B16286;
    --hover-color: #D3869B;
    --code-bg: #3C3836;
    --pre-bg: #1D2021;
    --border-color: #665C54;
}

html {
    display: grid;
    place-content: center;
}

body {
    font-family: sans-serif;
    max-width: var(--img-width);
    margin: 1rem;
    background: var(--bg-color);
    color: var(--text-color);
    font-size: 18px;
    line-height: 1.5;
    transition: background 0.3s, color 0.3s;
}

a {
    color: var(--accent-color);
}

a:hover,
a:active {
    color: var(--hover-color);
}

li code,
p code,
pre {
    color: #EBDBB2;
    border-radius: 0.25rem;
}

li code,
p code {
    background: var(--code-bg);
    padding: 0.125rem;
}

pre {
    background: var(--pre-bg);
    padding: 1rem;
    line-height: 1.1;
}

img {
    width: var(--img-width);
    margin-left: calc(-16px - 2px);
    margin-bottom: 1em;
    border: solid 16px var(--border-color);
    border-radius: 16px;
    outline: solid 2px #28282828;
    outline-offset: 1px;
    background: #28282878;
    padding: 2px;
}

footer {
    margin-top: 2em;
    text-align: center;
}

h2::before {
    color: var(--hover-color);
    content: "# ";
}

h3::before {
    color: var(--hover-color);
    content: "## ";
}

.important {
    color: var(--important-text-color);
    border-left: 4px solid #ffcc00;
    background-color: #fff9e6;
    padding: 10px;
    margin: 10px 0;
}

/* Theme Toggle Button */
.theme-toggle {
    position: fixed;
    top: 1rem;
    right: 1rem;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    transition: color 0.3s;
    color: var(--text-color);
}

.theme-toggle:focus {
    outline: none;
}

/* Navigation bar */
.navbar {
    background: var(--bg-color);
    padding: 10px;
    text-align: center;
    z-index: 1000;
    position: fixed;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
}

.navbar ul li {
    display: inline;
    margin: 0 15px;
}

.navbar ul li a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: bold;
}

.navbar ul li a:hover {
    color: var(--hover-color);
}